
.holder {
	width: 100vw;
	height: 100vh;
	display: flex;
	/* position: relative; */
	justify-content: center;
	align-items: center
}
.item-1 {
	width: 100px;
	height: 100px;
	 background-color: red;
	/* position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%); */
}